@import "constants.less";
@import "mixins.less";

.contactme {
	
	.contactme-subject, .contactme-message {
		display: block;
		box-sizing: border-box;
		
		width: 100%;
		max-width: 50em;
	}
	
	.contactme-subject {
		font-weight: bold;
		
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	
	.contactme-message {
		min-height: 6em;
		height: 12em;
		
		border-top: none;
		
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		
		overflow-y: scroll;
		resize: vertical;
	}
	
	.contactme-button {
		margin-top: 1em;
	}
	
	.contactme-success, .contactme-error {
		margin-top: 1em;
	}
	
	.contactme-success {
		color: mix(mix(@sitecolor, black, 50%), green, 50%);
	}
	
	.contactme-error {
		color: mix(mix(@sitecolor, black, 50%), red, 50%);
	}
}
