@import "constants.less";
@import "mixins.less";

.gallery {
	@spacing: 1em;
	
	margin: -@spacing / 2;
	
	.gallery-item {
		display: inline-block;
		box-sizing: border-box;
		vertical-align: middle;
		
		text-align: center;
		
		padding: @spacing / 2;
		
		width: 100% / 2; // 2 columns
		
		@media only screen and (max-width: 700px) {
			width: 100%; // 1 column
		}
		
		@media only screen and (min-width: 1500px) {
			width: 100% / 3; // 3 columns
		}
		
		.gallery-item-button {
			.reset-button();
			
			display: inline-block;
			
			cursor: pointer;
			
			transition: box-shadow 200ms ease;
			box-shadow: 0 0 3px 0 transparent;
			
			&:focus {
				outline: 0;
				
				box-shadow: 0 0 10px 0 @sitecolor;
			}
			
			.gallery-item-image {
				display: block;
				box-sizing: border-box;
				
				border: 1px solid @sitecolor;
				
				transition: all 200me ease;
				transition-property: width, height;
				
				max-height: 25em;
				max-width: 100%;
			}
		}
	}
}

.gallery-fullscreen {
	position: fixed;
	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
	
	background: rgba(0, 0, 0, 0.7);
	
	display: table;
	
	.gallery-fullscreen-outer {
		display: table-row;
		
		height: 100%;
		
		.gallery-fullscreen-left,
		.gallery-fullscreen-content,
		.gallery-fullscreen-right {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
		
		.gallery-fullscreen-left,
		.gallery-fullscreen-right {
			width: 10%;
			min-width: 40px;
		}
		
		.gallery-fullscreen-arrow-left,
		.gallery-fullscreen-arrow-right,
		.gallery-fullscreen-close {
			.reset-button();
			
			color: white;
			opacity: 0.2;
			
			text-shadow: 0 0 10px fade(@sitecolor, 2%);
			
			cursor: pointer;
			
			transition: all 200ms ease;
			transition-property: opacity, text-shadow;
			
			&:hover, &:focus {
				opacity: 1;
				text-shadow: 0 0 10px fade(@sitecolor, 50%);
			}
		}
		
		.gallery-fullscreen-arrow-left,
		.gallery-fullscreen-arrow-right {
			font-size: 3em;
			
			width: 100%;
			height: 100%;
		}
		
		.gallery-fullscreen-close {
			position: absolute;
			
			font-size: 1.5em;
			line-height: 1;
			
			top: 0;
			right: 0;
			
			padding: .5em;
		}
	}
	
	//.gallery-fullscreen-inner {
	//	display: table;
	//	
	//	width: 100%;
	//	height: 100%;
	//	
	//	.gallery-fullscreen-top {
	//		display: table-row;
	//		
	//		.gallery-fullscreen-top-inner {
	//			display: table-cell;
	//		}
	//	}
	//	
	//	.gallery-fullscreen-bottom {
	//		display: table-row;
	//		
	//		.gallery-fullscreen-bottom-inner {
	//			display: table-cell;
	//		}
	//	}
	//}
	
	.gallery-fullscreen-inner {
		
		.gallery-fullscreen-top-inner {
			display: inline-block;
			
			background: mix(@sitecolor, white, 5%);
			padding: 1em;
			border: 1px solid mix(@sitecolor, black, 90%);
			
			box-shadow: 0 0 1.5em fade(@sitecolor, 50%);
			
			.gallery-fullscreen-image {
				display: block;
				
				max-width: 100%;
				
				border: 1px solid mix(@sitecolor, white, 15%);
			}
		}
		
		.gallery-fullscreen-bottom {
			
			.gallery-fullscreen-bottom-inner {
				margin-top: 1em;
				
				color: white;
				text-shadow: 0 0 0.1em black;
			}
		}
	}
}
