@import "constants.less";

.heading {
	font-family: "Roboto Slab", serif;
	text-align: center;
	color: mix(@sitecolor, black, 25%);
	text-shadow: 0 0 .2em mix(@sitecolor, white, 25%);

	.heading-title {
		font-size: 3em;
		line-height: 1.5em;
	}

	.heading-subtitle {
		font-size: 1.5em;
		line-height: 1.5em;
		
		margin-bottom: 1em;
	}
}
