@import "constants.less";

.menu-container {
	line-height: 1.5em;
	position: relative;
	
	&:before, &:after {
		content: "";
		width: 3em;
		height: 1.5em;
		font-size: 1.1em;
		display: block;
		position: absolute;
		top: 0;
		
		pointer-events: none;  // Does not work on IE10.
	}
	
	&:before {
		background: linear-gradient(to right, mix(@sitecolor, white, 10%), transparent);
		background-image: linear-gradient(to right, #f5fdff/*url(/res/background.jpg)*/, transparent);  // Trick! Will anyone notice?
		left: 0;
	}
	
	&:after {
		background: linear-gradient(to right, transparent, mix(@sitecolor, white, 10%));
		background-image: linear-gradient(to right, transparent, #f5fdff/*url(/res/background.jpg)*/);  // Trick! Will anyone notice?
		right: 0;
	}
	
	ul.menu {
		font-family: "Roboto Condensed", sans-serif;
		font-size: 1.1em;
		
		text-align: center;
		
		overflow-x: auto;
		white-space: nowrap;
		
		padding: 0;  // Remove `ul` elements intrinsic padding.
		
		li.menu-item {
			display: inline-block;
			
			margin: 0 .5em;
			
			&.menu-item-active {
				font-weight: bold;
			}
			
			a.menu-item-link {
				color: inherit;
				text-decoration: inherit;
				outline: none;
				
				transition: all 200ms ease;
				transition-property: color, text-shadow;
				
				text-shadow: 0 0 .2em transparent;
				
				&:hover, &:focus {
					text-shadow: 0 0 .2em mix(@sitecolor, white, 50%);
				}
			}
		}
		
		&:before, &:after {
			// Simulated padding (because normal padding does not work well in scrollable objects).
			content: "";
			display: inline-block;
			width: 3em;
			height: 1em;
		}
	}
}
