
.selection(@rules) {
	::-moz-selection { @rules(); }
	::selection { @rules(); }
}

.reset-button() {
	border: 0;
	padding: 0;
	margin: 0;
	outline: 0;
	background: none;
	font-size: inherit;
	
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}

//.fullsize() {
//	// This trick makes an element scrollable in 100% of screen space
//	@body-width: 80%;
//	
//	@width: (100% * 100%) / @body-width;
//	@padding: (@width - 100%) / 2;
//	
//	display: table;
//	
//	width: @width;
//	margin-left: -@padding;
//	margin-right: -@padding;
//	
//	overflow-x: auto;
//	
//	&:after, &:before {
//		display: table-cell;
//		content: "";
//		
//		width: (100% - @body-width) / 2;
//	}
//	
//	.fullsize-inner() {
//		display: table-cell;
//	}
//}
