@import "constants.less";
@import "mixins.less";

.projectslist {
	
	.projectslist-tools {

		.projectslist-tool {
			display: inline-block;

			margin: 0 1em .5em;
		}
	}

	.projectslist-table-container {
		overflow-x: auto;

		.projectslist-table {

			.projectslist-header {

				&-name {
					//min-width: 9em;
				}

				&-description {
					//min-width: 12em;
				}

				&-tools {
					min-width: 76px;
				}

				&-platforms {
					min-width: 76px;
				}

				&-date {
					//min-width: 8em;
				}

				&-state {
					//min-width: 8em;
				}
			}
		}
	}
}
