@import "constants.less";
@import "mixins.less";

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	
	margin: 0;
	padding: 2em 10%;
	
	color: mix(@sitecolor, black, 50%);
	background-color: mix(@sitecolor, white, 10%);
	background-image: url(/res/background.jpg);
}

hr {
	border: 1px solid mix(@sitecolor, white, 100%);
	border-bottom: 1px solid mix(@sitecolor, white, 50%);
	
	margin: 1em 1em;
	
	&.fullsize-separator {
		margin: 1em -1em;
	}
}

a {
	color: @sitecolor;
	text-decoration: underline;
	
	transition: color 200ms ease;
	
	// Firefox 46.0.1 is bugged with `a:hover:visited`, no transition
	// is better than a glitchy transition.
	-moz-transition: none;
	
	&:visited {
		color: mix(@sitecolor, black, 50%);
	}
	
	&:hover {
		color: mix(@sitecolor, white, 50%);
		
		&:visited {
			color: mix(@sitecolor, mix(white, black, 50%), 50%);
		}
	}
}

input, textarea {
	margin: 0;
	padding: .3em;
	
	font: inherit;
	color: inherit;
	
	border: 1px solid mix(@sitecolor, black, 75%);
	background: white;
	
	border-radius: .3em;
	
	&:focus {
		border-color: @sitecolor;
	}
}

button {
	background: @sitecolor;
	color: white;
	
	font: inherit;
	border: none;
	
	padding: .3em 1em;
	border-radius: .3em;
	
	border-top: 0 solid #f5fdff;  // Trick! Will anyone notice?
	border-bottom: .2em solid mix(@sitecolor, black, 75%);
	
	cursor: pointer;
	
	transition: background 60ms linear;
	transition-property: background, color, border;
	
	&:hover {
		background: mix(@sitecolor, white, 75%);
	}
	
	&:active {
		background: mix(@sitecolor, black, 75%);
		
		border-top: .2em solid #f5fdff;  // Trick! Will anyone notice?
		border-bottom: 0 solid transparent;
	}
	
	&[disabled] {
		
		background: mix(white, black, 90%);
		color: mix(white, black, 75%);
		
		cursor: default;
		
		&, &:hover, &:active {
			border-top: .2em solid #f5fdff;  // Trick! Will anyone notice?
			border-bottom: 0 solid transparent;
		}
	}
}

table {
	width: 100%;
	
	border-collapse: collapse;
	
	thead {
		font-weight: bold;
		
		background: fade(@sitecolor, 50%);
	}
	
	tbody {
		
		tr {
			&:nth-child(even) {
				background: fade(@sitecolor, 10%);
			}
		}
	}
	
	td {
		padding: .1em .5em;
		
		border: 1px solid @sitecolor;
	}
}

.selection({
	background: @sitecolor;
	color: white;
	
	text-shadow: none;  // Works on Firefox.
	text-decoration-color: white;  // Ignored on all tested browsers.
});
