﻿<!DOCTYPE html>
<html lang="{{language}}">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	
	<title>{{title}}</title>
	<meta name="description" content="{{description}}">
	
	{{languages}}
	
	<meta name="robots" content="index, follow">
	<meta name="referrer" content="unsafe-url">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
	
	<link rel="stylesheet" href="/res/stylesheet.css" type="text/css">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	
	<!--
	  ________________________________________________________________________
	 /                                                                       /\
	 \_______________________________________________________________________\/
	  |                                                                       |
	  |                        Fabio Iotti's Portfolio                        |
	  |                                                                       |
	  |    This is my portfolio, if you are interested in the source code     |
	  |   please take a look at the project's page. JavaScript files, HTML    |
	  |   code and stylesheets have been precompiled and might have become    |
	  |  hard to read. Thanks for your interest, feel free to contact me by   |
	  |            mail or through the contact form on this site.             |
	  |_______________________________________________________________________|
	  /\                                                                       \
	  \/_______________________________________________________________________/
	-->
</head>
<body>
	<div id="contents">{{contents}}</div>
	
	<script type="text/javascript" src="/res/3p/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/res/3p/react-15.1.0.min.js"></script>
	<script type="text/javascript" src="/res/3p/react-dom-15.1.0.min.js"></script>
	<script type="text/javascript" src="/res/script.js"></script>
	<script type="text/javascript">{{javascript}}</script>
</body>
</html>
